{{ define "main" }}
{{ $title := print .Site.Title " | " .Title}}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<div class="container pt-5">
    <div class="row mt-5 pt-5">
        <div class="col-md-12">
            {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
            <div class="hero-image-container mb-4">
    <img src="https://skipgoshannon.github.io/aMinorFrequency.github.io/public/images/header.png" alt="Header" class="img-fluid" style="width: 100%; height: auto;">
</div>
            <h1 class="display-3 text-uppercase lh-sm">{{ $title }}</h1>
            {{ if isset .Params "lead" }}
            <p class="lead pb-2">
                <span class="underline">{{ .Params.lead }}</span>
            </p>
            {{ end }}
            <p class="lh-lg">
                {{ .Content }}
            </p>
        </div>
    </div>
</div>
{{ end }}
